<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>   

    <body>
        <div>
            <h1>
                <%= title %>
                <%- include('header', {}); %>
            </h1>
            <div class="msg">
                <div class="msg-info">
                    <div class="msg-content text-large bold">
                        <%= value.name %>
                    </div>
                    <div class="msg-content text-large">
                        <%= value.created_at %>
                    </div>
                </div>
                <div class="msg-text text-large"><%= value.message %></div>
            </div>
            
        </div>
    </body>
</html>


